html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-table {
  margin-top: 15px;
}

.el-pagination {
  margin-top: 15px;
}

/* 隐藏横向滚动条、设置最小和最大的高度 */
.el-cascader-panel .el-scrollbar__wrap {
  max-height: 300px;
  min-height: 100px;
  overflow-x: hidden;
}

/* 将小圆圈变透明然后覆盖在整个文字上方 */
.el-cascader-panel .el-radio {
  position: absolute;
  z-index: 10;
  padding: 0 10px;
  width: 132px;
  height: 34px;
  line-height: 34px;
}
.el-cascader-panel .el-radio__input {
  visibility: hidden;
}
.el-cascader-panel .el-input-node__postfix {
  top: 10px;
}

.el-steps {
  margin: 15px 0;
}
.el-step__title {
  font-size: 13px;
}
